    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>about brrrilliant</h2>
              <br/>
                <p>brrrilliant is a consulting and software development services company geared towards startups.</p>
                <p>We are software developers, designers and product managers that have guided businesses for over a decade to tackle new ventures and improve their IT organizations.  We entered the startup space to address the lack of expertise and guidance that is available to startups.</p>
                <p>We guide the process, assist in shaping the product, and do full-stack software development. We specialize in mobile apps and Ruby and following the efficient and risk-reducing methodologies of Agile and Lean Startup.</p>
                <br/>
              </div>
        </div>
    </section>
